$blur : blur(10px);
.titulo {
  -webkit-background-clip: text;
  background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-backdrop-filter: $blur;
    backdrop-filter: $blur;
}
span[data-text] {
  display:inline-block;
  position:relative;
}
span[data-text]:before {
  content: attr(data-text);
  text-shadow: 0 2px 10px $light;
  background: linear-gradient(to bottom,$gray 0%, $gray-dark 100%);
  -webkit-text-stroke: 2px transparent;    
  -webkit-background-clip: text;
  background-clip: text;
  color:transparent;
}
span[data-text]:after {
  content: attr(data-text);
  left:0;
  top:0;
  position:absolute;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}